# Application
APP_PORT=8080
APP_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=notification
DB_PASSWORD=notification_secret
DB_NAME=notification_system
DB_SSLMODE=disable

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

# Webhook (External Provider)
WEBHOOK_URL=https://webhook.site/a2d24e8e-0d36-417d-bc4d-74fe82398181

# Rate Limiting
RATE_LIMIT_PER_SECOND=100

# Worker
WORKER_CONCURRENCY=10
WORKER_MAX_RETRIES=5
